@model RemittanceWebApp.Models.CardRequestLog

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CardRequestLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ref_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ref_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
